<% include partials/header  %>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body> -->

  <div class="container">
    <div class="jumbotron text-center">
      <h1>URL Shortener Microservice</h1>
    </div>
    <div class="row">

      <h1></h1>
      <div class="form-group">
        <form action="/new" method="POST" >
        <input type="text" placeholder="Enter Valid URL" name='url'>
        <button class='btn btn-info'>Submit</button>
      </div>
      </form>

    <table class='table'>

      <tbody class="table table-bordered table-striped">
        <tr>
          <td>Original URL</td>
          <td><a href="<%= url %>"><%= url %></a></td>
        </tr>
        <tr>
          <td>Shortened URL</td>
          <td><a href="<%= id %>"><%= id %></a></td>
        </tr>

      </tbody>
    </table>

    <div>
<hr>
      <p>URL </p>
      <p>Example:</p>
      <p>Orignial URL: <a href="https://en.wikipedia.org/wiki/Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu">https://en.wikipedia.org/wiki/Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu</a> </p>
      <p>Shortend URL: <a href="http://localhost:3000/new/1GEey">http://localhost:3000/new/1GEey</a></p>
</div>
<div>
  The orignal value of the URL is shortened and the value is located in the last five letters/digits of the shortend URL - 1GEey 
</div>


  </div>


</body>
</html>
