<h1>index EJS</h1>
<div class="form-group">
  <form action="/" method="POST" >
  <input type="text" placeholder="Enter Valid URL" name='url'>
  <button>Submit</button>
</div>
</form>

<p>
Original URL:  <a href="<%= url %>"><%= url %></a>
  </p>
<p>Shortened URL: <a href="<%= id %>"><%= id %></a></p>
<hr>
https://static.practicefusion.com/LabsEndpoint/api/v1/orders/e4889b67-6a79-44d6-9856-48bb45dffbc8/documents/8642d842-aa26-4e24-b60f-9d65ac11f760?authCookie=385c2cbf
