<% include partials/header  %>


  <div class="container">
    <div class="jumbotron text-center">
      <h1>URL Shortener Microservice</h1>
    </div>
    <div class="row">

      <h1></h1>
      <div class="form-group">
        <form action="/new" method="POST" >
        <input type="text" placeholder="Enter Valid URL" name='url'>
        <button class='btn btn-info'>Submit</button>
      </div>
      </form>

    <table class='table'>

      <tbody class="table table-bordered table-striped">
        <tr>
          <td>Original URL</td>
          <td><a href="<%= url %>"><%= url %></a></td>
        </tr>
        <tr>
          <td>Shortened URL</td>
          <td><a href="<%= id %>"><%= id %></a></td>
        </tr>

      </tbody>
    </table>

    <div>
<hr>
      <p>URL </p>
      <p>Example:</p>
      <p>Orignial URL: <a href="https://en.wikipedia.org/wiki/Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu">https://en.wikipedia.org/wiki/Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu</a> </p>
      <p>Shortend URL: <a href="http://localhost:3000/new/1GEey">http://localhost:3000/new/1GEey</a></p>
</div>
<div>
  The orignal value of the URL is shortened and the value is located in the last five letters/digits of the shortend URL - 1GEey
</div>
<div>
  URL shortening is a technique on the World Wide Web in which a Uniform Resource Locator (URL) may be made substantially shorter and still direct to the required page.
  <p>Other uses of URL shortening are to "beautify" a link, track clicks, or disguise the underlying address. </p>
</div>
  </div>


</body>
</html>
